// Semantic GS Overrides
$columns: 12;
$total-width: 100%;

// Font Sizes
$base-font-size: 14px;

// Media Query Breakpoints
$breakpoint-phone: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 960px;
$breakpoint-desktop-large: 1200px;