button,
.btn {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	margin: 0;
	padding: 10px 25px;
	background-color: #dddddd;
	color: #ffffff;
	text-decoration: none;
	text-align: center;

	&:hover{
		background-color: darken(#dddddd, 2%);
	}

	&:active,
	&:focus{
		outline:none;
	}
}

.btn--secondary {
	background-color: #000000;
}

.btn--large {
	padding: 20px 40px;
	font-size: 1.5em;
}

.btn--small {
	padding: 5px 15px;
}
