.list--unstyled {
	list-style: none;
	margin: 0;
	padding: 0;
}

.list--flat {
	> li {
		float: left;

		a {
			display: block;
		}

		&:last-child {margin: 0;}
	}
}

.list--stacked {
	li {
		display: block;

		a {
			display: block;
		}
	}

	li:last-child {
		border: none;
	}
}

.list--divided {
	li {
		padding-right: 10px;

		a {
			display: inline-block;
			margin-left: 10px;
		}

		&:before {
			content: '|';
		}

		&:first-child:before {
			content: '';
		}
	}
}

.list--centered {
	@extend .text-center;

	li {
		display: inline-block;
		float: none;
	}
}

.list--flyout {
	li {
		position: relative;

		ul {
			position: absolute;
			min-width: 150px;
			display: none;
			opacity: 0;
			z-index: 9999;

			&.list--flyout-left {
				left: 0;
			}

			&.list--flyout-right {
				right: 0;
				text-align: right;
			}
		}

		&:hover {
			ul {
				display: block;
				opacity: 1;
			}
		}
	}
}
