body, html {
	height: 100%;
	margin: 0;
}

html {
	font-size: 14px;
	-moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
	color: #000000;
	font-family: 'Helvetica', arial, sans-serif;
	line-height: 0.75;
	margin: 0;
	padding: 0;
	position: relative;
}

*,*:before,*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

img {
  display: inline-block;
  vertical-align: middle;
}

.container {
	@include clearfix;
	@include responsive;
}

.chromeframe {
	background: #fef9db;
	text-align: center;
	color: darken(#fef9db, 60%);
	border-bottom: solid 1px darken(#fef9db, 20%);
	padding: 15px 0;
}